.repositories {
  margin: 60px auto;
  max-width: 1100px;

  &__header {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .repositories {
    padding: 32px;
  }
}